{% extends "base.html" %}

{% load static %}

{% block page_content%}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/parallax.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/jumbotron.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/body.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/navbar.css' %}">


  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
      <img src="{% static 'homepage/images/uva_logo.jpg' %}" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/cnw2bx">GitHub</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/woodwardcn/">LinkedIn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% static 'homepage/images/cnw2bx_resume.pdf' %}">Resume</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://www.knowyourvote.io/">KnowYourVote</a>
            <a class="dropdown-item" href="https://quicktutor.herokuapp.com/">QuickTutor</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <script type="text/javascript">
    document.addEventListener("mousemove", parallax);
    function parallax(e) {
      this.querySelectorAll('.layer').forEach(layer => {
        const speed = layer.getAttribute('data-speed')

        const x = (window.innerWidth - e.pageX*speed)/100
        const y = (window.innerHeight - e.pageY*speed)/100

        layer.style.transform =  `translateX(${x}px) translateY(${y}px)`
      })
    }
  </script>
  
  <parallax>
    <img src="static/homepage/images/1.png" data-speed="-5" class="layer">
    <img src="static/homepage/images/2.png" data-speed="-2" class="layer">
    <img src="static/homepage/images/3.png" data-speed="3" class="layer">
    <img src="static/homepage/images/4.png" data-speed="-5" class="layer">
    <img src="static/homepage/images/5.png" data-speed="-4" class="layer">
    <img src="static/homepage/images/6.png" data-speed="2" class="layer">
    <img src="static/homepage/images/7.png" data-speed="-1" class="layer">
    <img src="static/homepage/images/8.png" data-speed="4" class="layer">
    <img src="static/homepage/images/9.png" data-speed="-3" class="layer">
    <img src="static/homepage/images/10.png" data-speed="1" class="layer">
    <img src="static/homepage/images/11.png" data-speed="-6" class="layer">
    <img src="static/homepage/images/12.png" data-speed="6" class="layer"> 

    <div class="jumbotron">
      <div class="container">
        <h1>Cameron Woodward</h1>
        <h6>Computer Science - Business - Fuckin</h6>
      </div>
    </div>
  </parallax>
  

  <h1 style="text-align: center; color: #fff; margin-top: 50px;">
    Experience
  </h1>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="jumbotron" style="background-color: #fff;">
          <div class="container">
            <h1>East Point Energy</h1>
            <h6>What I did</h6>
            <hr class="my-4">
            <h5 style="text-align: left;">Tools Used:</h5>
            <h6 style="text-align: left;">
              <ul>
                <li>Python</li>
                <li>GitHub</li>
                <li>Salesforce</li>
                <li>Smartsheet</li>
              </ul>
            </h6>
          </div>
        </div> 
      </div>
      <div class="carousel-item">
        <div class="jumbotron" style="background-color: #fff;">
          <div class="container">
            <h1>Know Your Vote</h1>
            <h6>What I did</h6>
            <hr class="my-4">
            <h5 style="text-align: left;">Tools Used:</h5>
            <h6 style="text-align: left;">
              <ul>
              <li>Django</li>
              <li>Heroku</li>
              <li>GitLab</li>
            </ul>
          </h6>
          </div>
        </div> 
      </div>
      <div class="carousel-item">
        <div class="jumbotron" style="background-color: #fff;">
          <div class="container">
            <h1>UVA Engineering</h1>
            <h6>What I did</h6>
            <hr class="my-4">
            <h5 style="text-align: left;">Tools Used:</h5>
            <h6 style="text-align: left;">
              <ul>
                <li>Java</li>
                <li>GitLab</li>
              </ul>
            </h6>
          </div>
        </div> 
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <h1 style="text-align: center; color: #fff; margin-top: 50px;">
    Certificates
  </h1>

  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators"  style="margin-top: 10px;">
      <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators2" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators2" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators2" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators2" data-slide-to="6"></li>
      <li data-target="#carouselExampleIndicators2" data-slide-to="7"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="jumbotron" style="background-color: #fff;">
          <div class="container">
            <img class="card-img-top" src="{% static 'homepage/images/penetration_testing.JPG' %}" alt="Card image cap">
            <hr class="my-4">
            <h5 style="text-align: left;">Tools Used:</h5>
            
          </div>
        </div> 
      </div>
      <div class="carousel-item">
        <div class="jumbotron" style="background-color: #fff;">
          <div class="container">
            <img class="card-img-top" src="{% static 'homepage/images/python_crashcourse.JPG' %}" alt="">
            <hr class="my-4">
            <h5 style="text-align: left;">Description:</h5>
          </div>
        </div> 
      </div>
      <div class="carousel-item">
        <div class="jumbotron" style="background-color: #fff;">
          <div class="container">
            <img class="card-img-top" src="{% static 'homepage/images/interacting_with_OS.JPG' %}" alt="">
            <hr class="my-4">
            <h5 style="text-align: left;">Description:</h5>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="jumbotron" style="background-color: #fff;">
          <div class="container">
            <img class="card-img-top" src="{% static 'homepage/images/intro_to_git.JPG' %}" alt="">
            <hr class="my-4">
            <h5 style="text-align: left;">Description:</h5>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="jumbotron" style="background-color: #fff;">
          <div class="container">
            <img class="card-img-top" src="{% static 'homepage/images/Intro_to_cyber_attacks.JPG' %}" alt="">
            <hr class="my-4">
            <h5 style="text-align: left;">Description:</h5>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="jumbotron" style="background-color: #fff;">
          <div class="container">
            <img class="card-img-top" src="{% static 'homepage/images/cyberThreat_detection_and_mitigation.JPG' %}" alt="">
            <hr class="my-4">
            <h5 style="text-align: left;">Description:</h5>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="jumbotron" style="background-color: #fff;">
          <div class="container">
            <img class="card-img-top" src="{% static 'homepage/images/cyber_attack_countermeasures.JPG' %}" alt="">
            <hr class="my-4">
            <h5 style="text-align: left;">Description:</h5>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="jumbotron" style="background-color: #fff;">
          <div class="container">
            <img class="card-img-top" src="{% static 'homepage/images/infrastructure_security.JPG' %}" alt="">
            <hr class="my-4">
            <h5 style="text-align: left;">Description:</h5>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <h1 style="text-align: center; color: #fff; margin-top: 50px;">
    Hobbies
  </h1>
  
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <img class="card-img-top" src="{% static 'homepage/images/me.jpg' %}" alt="Card image cap">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

{% endblock %}